.b-c-v {
    position: absolute;
    border: 0;
    height: 30px;
    width: 75px;
    bottom: 10px;
    right: 15px;
    background-color: aqua;
}
.b-c-v:hover {
    background-color: aquamarine;
    cursor: pointer;
}